/* import section */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* font styles */
.none {
    display: none;
}

.open-sans-font {
    font-family: "Open Sans", sans-serif;
}

/* shared styles */
* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
}

button {
    cursor: pointer;
}

.bg-primary {
    background-color: black;
}

.btn-primary {
    background-color: orangered;
    padding: 1.1rem 2.8rem;
    border-radius: 2.5rem;
    color: white;
    font-size: 1.2rem;
    border: none;
}

.padding-primary {
    padding: 6.25rem 12.5rem;
}

.section-title {
    color: white;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.team-subtitle {
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0;
}

.team-description {
    color: rgb(189, 185, 185);
    font-weight: 500;
    margin: 0;
    margin-bottom: 3.5rem;
}

.team-title {
    margin-top: -5.6rem;
    padding-left: .5rem;
}

/* header styles */
nav {
    display: flex;
    justify-content: space-between;
    margin: 20px 120px;
    color: white;
    align-items: center;
}

.header-title {
    color: rgba(255, 68, 0, 0.9);
    font-weight: 700;
}

nav>ul {
    display: flex;
    gap: 50px;
    border: 1px solid burlywood;
    border-radius: 39px;
    padding: 4px 10px;
    align-items: center;
}

nav ul li {
    list-style: none;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: 700;
}

#menu {
    display: none;
}

.home {
    background-color: rgba(255, 68, 0, 0.9);
    border-radius: 46px;
    padding: 8px 18px;
}

/* banner style */
.banner-container {
    display: flex;
    margin: 5px 120px;
    justify-content: space-between;
}

.banner-title {
    color: white;
}

.title {
    font-size: 3.8rem;
    font-weight: 900;
    margin-bottom: 0px;
}

.description {
    color: darkgray;
    margin-bottom: 30px;
}

.btn-second {
    background-color: black;
    padding: 1.1rem 2.8rem;
    border-color: white;
    border-radius: 2.5rem;
    color: white;
    font-size: 1.2rem;
    margin-left: 1.1rem;
}

.cards {
    padding: 10px 25px;
    border-radius: 10px;
    color: darkgray;
}

#video-card {
    position: absolute;
    bottom: 150px;
    margin-left: -400px;
    width: 150px;
    height: 90px;
}

#card-title-1 {
    color: black;
    font-size: 1.5rem;
    font-weight: 700;
}

.ball {
    background-color: orangered;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: relative;
    left: -10px;
    top: 21px;
}

#Workout-card {
    position: absolute;
    top: 290px;
    margin-left: -100px;
}

#card-title-2 {
    color: black;
    font-size: 1.5rem;
    font-weight: 800;
}

/* habit styles */

.habit {
    color: white;
    text-align: center;
    padding-bottom: 0;
}

.habit-title {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 0;
}

.fitness {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.fitness-image {
    border-radius: 50%;
}

.fitness-title {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0;
}

.fitness-description {
    margin-top: 3px;
}

/* runner styles */
.runner-container {
    display: flex;
    gap: 7.5rem;
    width: 100%;
    background-color: rgb(34, 34, 34);
    padding: 2.5rem 3rem;
    border-radius: 1rem;
    align-items: center;
}

.details {
    color: white;
}

.runner-image {
    background-image: url(../images/run.jpg);
    width: calc(100% - 200px);
    height: 20rem;
    border-radius: 1.25rem;
    background-position: -46.88rem 50rem;
}

/* Membership styles */
.member {
    text-align: center;
}

.memberships {
    display: flex;
    gap: 2.5rem;
    justify-content: center;
}

.membership-plans {
    border: 1px solid lightgray;
    border-radius: 0.8rem;
    width: 20rem;
    align-items: center;
    margin-top: 0.8rem;
}

.membership-date {
    color: white;
    margin-bottom: 1rem;
    background-color: rgb(34, 34, 34);
    border-radius: 0.8rem 0.8rem 0 0;
    font-size: 1.8rem;
    padding: 0.6rem 0.8rem;
}

.membership-prize {
    color: white;
    font-size: 1.5rem;
    margin-bottom: 0.6rem;
}

.btn-member {
    margin-bottom: 2rem;
}


/* BMI Calculator styles */
.bmi {
    color: white;
    text-align: center;
}

.bmi-container {
    display: flex;
    justify-content: space-between;
    background-color: rgb(34, 34, 34);
    padding: 3rem 10rem;
    text-align: start;
    gap: 20%;
}

table {
    border-collapse: collapse;
    margin-top: 2rem;
    margin-right: 12rem;
    width: 90%;
    height: 70%;
}

thead {
    color: white;
}

tbody {
    color: gray;
}

td {
    border: 2px solid rgb(59, 59, 59);
    padding: 0.4rem 0.6rem;
    text-align: start;
}

.bmi-inputs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 2rem;
}

.bmi-title {
    margin-bottom: 0.7rem;
}

.data {
    color: gray;
    padding: 1rem;
    background-color: rgb(61, 61, 61);
    border-radius: 1rem;
    border: none;
    width: 80%;
    margin-top: 0.5rem;
}

#factor {
    grid-template-rows: repeat(1);
    width: 190%;
}

#btn-calc {
    width: 70%;
    margin-top: 1rem;
    padding: 1rem 2rem;
    cursor: pointer;
}

.bmi-gander {
    width: 92%;
}


/* team styles */
.team {
    text-align: center;
}

.team-container {
    background-color: rgb(34, 34, 34);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1.25rem;
    border-radius: 1rem;
}

.team-image {
    width: 20.4rem;
    height: 17rem;
    border-radius: 1.15rem;
}

/* footer styles */
.foot {
    background-color: rgb(34, 34, 34);
    text-align: center;
    padding-bottom: 1rem;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 6rem;
    text-align: start;
}

.footer-columns {
    color: white;
}

.footer-title {
    color: rgba(222, 73, 18, 0.9);
    font-weight: 700;
    font-size: 2rem;
}

#footer-description {
    margin-top: 1rem;
    font-size: 0.8rem;
}

.footer-subtile {
    font-size: 2rem;
}

.footer-list {
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.footer-list>li {
    list-style: none;
}

.list-description {
    margin: 1rem 0;
}

hr {
    color: darkgray;
}

.footer-bottom {
    margin-top: 70px;
    color: darkgray;
}



/* mobile device */
@media screen and (max-width: 576px) {
    * {
        margin: 0;
        padding: 0;
    }

    .padding-primary {
        padding: 0 1rem;
    }

    .runner-container {
        padding: 0;
    }

    .header,
    .title {
        margin: 0px;
    }

    .header-title {
        margin: 0px;
        margin-left: 15px;
    }

    .header-subtitle-container,
    .description {
        border: none;
        padding: 0px;
        margin: 0px;
    }

    .header-subtitle {
        display: none;
    }

    #menu {
        display: list-item;
        margin-right: 15px;
    }

    #btn {
        background-color: black;
        border: none;
        padding: 0px;
    }

    /* banner styles */
    .banner-container {
        margin-left: 1rem;
        flex-direction: column;
        text-align: left;
    }

    .description {
        margin-top: 1.75rem;
    }

    .btn-container {
        display: flex;
        gap: 3.75rem;
        margin-top: 1.12rem;
    }

    .banner-subtitle {
        margin-top: 1.8rem;
    }

    .banner-image {
        margin-left: 1.9rem;
    }

    #video-card {
        top: 62.5rem;
        margin-left: 0;
        width: 9.37rem;
        height: 5.62rem;
    }

    #Workout-card {
        top: 50rem;
        margin-left: 13.7rem;
    }

    /* habit style */
    .habit-subtitle {
        margin-top: 0.5rem;
        margin-bottom: 3rem;
    }

    .fitness {
        grid-template-columns: repeat(1, 1fr);
        gap: 2.5rem;
    }

    .fitness-description {
        margin-top: 0;
    }

    /* runner styles */

    .runner {
        margin-top: 2rem;
    }

    .runner-container {
        flex-direction: column;
        gap: 40px;
        padding-bottom: 30px;
    }

    .details {
        padding: 30px 33px;
    }

    .section-title {
        margin-top: 0;
    }

    #runner-description {
        word-wrap: break-word;
        text-align: start;
        margin-bottom: 1rem;
    }

    .runner-image {
        width: 287px;
        height: 170px;
        background-position: 0 0;
        background-size: cover;
    }

    /* Membership styles */
    .member{
        text-align: start;
        margin-top: 1rem;
    }

    .memberships{
        flex-direction: column;
        text-align: center;
        margin-left: 2rem;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        gap: 1.5rem;
    }

    .member-description{
        margin-top: 0;
        margin-bottom: 1.8rem;
    }

    /* BMI styles */
    .bmi {
        text-align: start;
        margin-top: 1.3rem;
    }

    .bmi-section-title {
        padding: 1rem;
    }

    .bmi-container {
        flex-direction: column;
        text-align: start;
        padding: 2rem 1rem;
        margin-top: 1rem;
    }

    table {
        margin-bottom: 2rem;
    }

    .bmi-gander {
        width: 95%;
    }

    #factor {
        width: 195%;
    }

    /* team styles */

    .team {
        margin-top: 4rem;
    }

    .section-description {
        margin-bottom: 3rem;
    }

    .team-container {
        grid-template-columns: repeat(1, 1fr);
        padding-left: 2rem;
        padding-bottom: 0.3rem;
        padding-top: 2rem;
    }


    /* footer styles */
    .foot {
        margin-top: 2rem;
        padding-top: 1rem;
        padding-bottom: 2rem;
    }

    .footer-container {
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
    }
}